# マシン固有の設定をここに記述
# このファイルを ~/.config/fish/config.local.fish にコピーして使用

function ghwk
  git config --local user.name "your-work-name"
  git config --local user.email "your-work-email@example.com"
end

function ghpr
  git config --local user.name "your-personal-name"
  git config --local user.email "your-personal-email@example.com"
end
