* {
  border: none;
  font-family: "PlemolJP35 Console NF", "Symbols Nerd Font Mono";
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  font-weight: bold;
  min-height: 15px;
  /** 濃いめのグレー */
  color: #d3c6aa;
}
window#waybar {
  /* #3C4841を透過させる */
  background: rgba(60, 72, 65, 0.5);
  border-radius: 10px;
}
#custom-Waybar-Clockify,
#custom-arch,
#workspaces,
#window,
#clock,
#backlight,
#pulseaudio,
#battery,
#cpu,
#memory,
#temperature,
#network,
#custom-pacman,
#custom-weather {
  border-radius: 10px;
  background-color: #3c4841;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px 8px;
}
#custom-arch {
  background: #a7c080;
  margin-left: 15px;
}
#workspaces {
  background: transparent;
}
#workspaces button {
  background-color: #3c4841;
  margin: 0 3px;
}
#workspaces button.focused {
  background-color: #83c092;
}
